# Tauri build artifacts
src-tauri/target/

# Frontend build artifacts
dist/
node_modules/

# Editor
.DS_Store
*.swp
.vscode/

# Generated sidecar resources (created by make prepare-sidecar)
src-tauri/resources/Data-Analysis-Agent/*
!src-tauri/resources/Data-Analysis-Agent/.gitkeep
